.dashboard {
  width: 90%;
  margin: 0 auto;
}

.flex,
.flex-between {
  display: flex;
  width: 100%;
  gap: 10px;
}

.flex {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
  padding: 0;
}

.dashboard-card,
.dashboard-info {
  height: fit-content;
  padding: 10px;
  width: 100%;
}

.dashboard-card {
  border: 1px groove #f3f3f3;
}

.dashboard-score {
  text-align: center;
}

.score {
  background-color: #dcfce7;
  color: #20c662;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  width: fit-content;
}

/* Mobile styles */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
